@font-face {
  font-family: 'felixfont';
  src:  url('fonts/felixfont.eot?shlieu');
  src:  url('fonts/felixfont.eot?shlieu#iefix') format('embedded-opentype'),
    url('fonts/felixfont.ttf?shlieu') format('truetype'),
    url('fonts/felixfont.woff?shlieu') format('woff'),
    url('fonts/felixfont.svg?shlieu#felixfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fxi-"], [class*=" fxi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'felixfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fxi-apple:before {
  content: "\20";
}
.fxi-backward:before {
  content: "\21";
}
.fxi-block:before {
  content: "\22";
}
.fxi-check:before {
  content: "\23";
}
.fxi-chevron-down:before {
  content: "\24";
}
.fxi-chevron-left:before {
  content: "\25";
}
.fxi-chevron-right:before {
  content: "\26";
}
.fxi-chevron-up:before {
  content: "\27";
}
.fxi-clock:before {
  content: "\28";
}
.fxi-clock-alt:before {
  content: "\29";
}
.fxi-cog:before {
  content: "\30";
}
.fxi-credit-card:before {
  content: "\31";
}
.fxi-credit-card-alt:before {
  content: "\32";
}
.fxi-css:before {
  content: "\33";
}
.fxi-cursor:before {
  content: "\34";
}
.fxi-double-chevron-down:before {
  content: "\35";
}
.fxi-double-chevron-left:before {
  content: "\36";
}
.fxi-double-chevron-right:before {
  content: "\37";
}
.fxi-double-chevron-up:before {
  content: "\38";
}
.fxi-eye:before {
  content: "\39";
}
.fxi-facebook:before {
  content: "\40";
}
.fxi-facebook-circle:before {
  content: "\41";
}
.fxi-facebook-f:before {
  content: "\42";
}
.fxi-forward:before {
  content: "\43";
}
.fxi-github:before {
  content: "\44";
}
.fxi-globe:before {
  content: "\45";
}
.fxi-globe-pointer:before {
  content: "\46";
}
.fxi-gmail:before {
  content: "\47";
}
.fxi-html:before {
  content: "\48";
}
.fxi-illustrator:before {
  content: "\49";
}
.fxi-instagram:before {
  content: "\50";
}
.fxi-instagram-alt:before {
  content: "\51";
}
.fxi-jquery:before {
  content: "\52";
}
.fxi-js:before {
  content: "\53";
}
.fxi-lightbulb:before {
  content: "\54";
}
.fxi-lightbulb-alt:before {
  content: "\55";
}
.fxi-lightbulb-on:before {
  content: "\56";
}
.fxi-linkedin:before {
  content: "\57";
}
.fxi-linkedin-in:before {
  content: "\58";
}
.fxi-marker:before {
  content: "\59";
}
.fxi-marker-alt:before {
  content: "\60";
}
.fxi-menu:before {
  content: "\61";
}
.fxi-mobile:before {
  content: "\62";
}
.fxi-monitor:before {
  content: "\63";
}
.fxi-moon:before {
  content: "\64";
}
.fxi-moon-alt:before {
  content: "\65";
}
.fxi-nodejs:before {
  content: "\66";
}
.fxi-pause:before {
  content: "\67";
}
.fxi-play:before {
  content: "\68";
}
.fxi-react:before {
  content: "\89";
}
.fxi-sass:before {
  content: "\69";
}
.fxi-sort-down:before {
  content: "\70";
}
.fxi-sort-left:before {
  content: "\71";
}
.fxi-sort-right:before {
  content: "\72";
}
.fxi-sort-up:before {
  content: "\73";
}
.fxi-step-bacward:before {
  content: "\74";
}
.fxi-step-forward:before {
  content: "\75";
}
.fxi-sun:before {
  content: "\76";
}
.fxi-times:before {
  content: "\77";
}
.fxi-triple-chevron-down:before {
  content: "\78";
}
.fxi-triple-chevron-left:before {
  content: "\79";
}
.fxi-triple-chevron-right:before {
  content: "\80";
}
.fxi-triple-chevron-up:before {
  content: "\81";
}
.fxi-twitter:before {
  content: "\82";
}
.fxi-twitter-alt:before {
  content: "\83";
}
.fxi-user:before {
  content: "\84";
}
.fxi-user-check:before {
  content: "\85";
}
.fxi-visa:before {
  content: "\86";
}
.fxi-xbox:before {
  content: "\87";
}
.fxi-youtube:before {
  content: "\88";
}
